<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="TourWriter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="TourWriter.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="TourWriter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup> 
	</configSections>
  
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1" />
  </runtime>
  
	<connectionStrings>
		<add name="UserConnection" connectionString="Initial Catalog=TourWriterDev;Connection Timeout=30;" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<userSettings>
		<TourWriter.Properties.Settings>
   <setting name="MainFormSize" serializeAs="String">
    <value>1000, 700</value>
   </setting>
   <setting name="MainFormWindowState" serializeAs="String">
    <value>Normal</value>
   </setting>
   <setting name="MainFormLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="Username" serializeAs="String">
    <value>admin</value>
   </setting>
   <setting name="RememberUsername" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="BookingViewerGroupByType" serializeAs="String">
    <value />
   </setting>
   <setting name="BookingEditorSize" serializeAs="String">
    <value>607, 528</value>
   </setting>
   <setting name="SettingsUpgradeRequired" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MainFormMenuWidth" serializeAs="String">
    <value>182</value>
   </setting>
   <setting name="SummaryPublishingTemplate" serializeAs="String">
    <value />
   </setting>
   <setting name="PublishingLayoutSize" serializeAs="String">
    <value>700, 500</value>
   </setting>
   <setting name="PublishingLayoutLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="BookingEditorLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="EmailerSaveWhenSent" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="EmailerBccSender" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="EmailEditorSize" serializeAs="String">
    <value>500, 550</value>
   </setting>
   <setting name="BookingEmailShowPrice" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="EmailerReadReceipt" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoLoadAllocationsData" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="BookingSelectorSize" serializeAs="String">
    <value>588, 590</value>
   </setting>
   <setting name="RunReportsImmediately" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="BookingSelectorLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="EmailEditorLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="BookingSelectorGridHeight" serializeAs="String">
    <value>120</value>
   </setting>
   <setting name="EmailEditorSkipTemplate" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="RemoteConnection" serializeAs="String">
    <value />
   </setting>
   <setting name="BookingSelectorCurrencyUpdate" serializeAs="String">
    <value>False</value>
   </setting>
  </TourWriter.Properties.Settings>
	</userSettings>

	<applicationSettings>
		<TourWriter.Properties.Settings>
   <setting name="AppStartPageUri" serializeAs="String">
    <value>http://support.tourwriter.com/AppStartPage.aspx</value>
   </setting>
   <setting name="UpdateUri" serializeAs="String">
    <value>http://support.tourwriter.com/UpdateService.aspx</value>
   </setting>
  </TourWriter.Properties.Settings>
	</applicationSettings>
</configuration>
